@use "../../assets/styles/variables" as *;

.container {
  padding: 20px;

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error-text {
    color: $color-error-text;
  }
}
