//error variables
$color-error-text: #FF0000;

//border variables
$color-border: #ddd;

// gradient variables
$blue-color: #4169e1;
$bronze-color: #8b4513;
$yellow-color: #ffd700;
$black-color: #000000;
$green-color: #008000;
$silver-color: #C0C0C0;

//loader-variables
$color-light-blue: #3498db;
$color-light-grey: #f3f3f3;